@model IEnumerable<OtoAksesuarSatisWebAp.Models.Yorum>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/UyePanel/Views/_LayoutPage1.cshtml";
}

<div class="pagetitle">
    <h2>Yorumlarım</h2>
</div>

@if (TempData["mesaj"] != null)
{
    <div class="alert alert-success">
        @TempData["mesaj"]
    </div>
}

@if (!Model.Any())
{
    <div class="alert alert-info">
        Yorumunuz bulunmamaktadır.
    </div>
}
else
{
    <div class="orderList">
        @foreach (var item in Model)
        {
            <div class="orderItem">
                <p>@item.Urun.UrunAdi - Yorum: @item.YorumMetni</p>
                <p>Sipariş Tarihi: @item.YorumTarihi.ToString("dd/MM/yyyy")</p>

                
                <a href="@Url.Action("Edit", "Yorum", new { id = item.YorumID })" class="btn btn-warning">Yorumu Düzenle</a>
                <a href="@Url.Action("Delete", "Yorum", new { id = item.YorumID })" class="btn btn-danger">Yorumu Sil</a>
            </div>
        }
    </div>
}

