@using OtoAksesuarSatisWebAp.Models
@model IEnumerable<OtoAksesuarSatisWebAp.Models.Favori>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared1/_LayoutPage1.cshtml";
}
@if (TempData["info"] != null)
{
    <div class="validation-summary-warning">
        @TempData["info"]
    </div>
}

<div class="pageTitle">
    <h3>Favorilerim</h3>
</div>

<table class="tablo" cellpadding="0" cellspacing="0">
    @foreach (Favori item in Model)
    {
        <tr>
            <td>
                @if (item.Urun != null)
                {
                    <img src="~/Assets/ProductImages/@item.Urun.ResimYolu" width="56" />
                }
                else if (item.XMLUrun != null)
                {
                    <img src="~/Assets/ProductImages/@item.XMLUrun.Resim" width="56" />
                }
            </td>

            <td>
                @if (item.Urun != null)
                {
                    <a href="@Url.Action("Detail", "DetayUrun", new { id = item.Urun.UrunID })">
                        @item.Urun.UrunAdi
                    </a>
                }
                else if (item.XMLUrun != null)
                {
                    <a href="@Url.Action("Detail", "xmlUrun", new { id = item.XMLUrun.XmlUrunID })">
                        @item.XMLUrun.UrunAdi
                    </a>
                }
            </td>

            <td>
                <a href="@Url.Action("Remove", "Favori", new { id = item.FavoriID })">Favorilerimden Kaldır</a>
            </td>
        </tr>
    }
</table>