@model IEnumerable<OtoAksesuarSatisWebAp.Models.Uye>
@{
    ViewBag.Title = "DeleteUye";
    Layout = "~/Areas/YoneticiPanel/Views/Shared/_LayoutPage1.cshtml";
}
@section styles
{
    <link href="~/Areas/YoneticiPanel/Assets/CSS/Uye.css" rel="stylesheet" />
}
<h2>Üye Listesi</h2>

@if (TempData["mesaj"] != null)
{
    <div class="alert alert-success">
        @TempData["mesaj"]
    </div>
}

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>İsim</th>
            <th>Soyisim</th>
            <th>E-Posta</th>
            <th>Kayıt Tarihi</th>
            <th>Durum</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var uye in Model)
        {
            <tr>
                <td>@uye.UyeID</td>
                <td>@uye.Isim</td>
                <td>@uye.Soyisim</td>
                <td>@uye.Mail</td>
                <td>@uye.KayitTarihi.ToShortDateString()</td>
                <td>@(uye.AktifMi ? "Aktif" : "Pasif")</td>
                <td>
                    <a href="@Url.Action("Edit","UyeUpdate", new {id = uye.UyeID})" class="editbutton">Düzenle</a>
                </td>
            </tr>
        }
    </tbody>
</table>
