@model IEnumerable<OtoAksesuarSatisWebAp.Models.Marka>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/YoneticiPanel/Views/Shared/_LayoutPage1.cshtml";
}
@section styles
{
    <link href="~/Areas/YoneticiPanel/Assets/CSS/Marka.css" rel="stylesheet" />
}
<div class="pagetitle">
    <h2>Markalar</h2>
</div>
<div class="">
    @if (TempData["mesaj"] != null)
    {
        <h3 style="color:forestgreen; margin-bottom:10px;">@TempData["mesaj"]</h3>
        TempData["mesaj"] = null;
    }
    <table class="tablo" cellspacing="0" cellpadding="0">
        <tr>
            <th>@Html.DisplayNameFor(model => model.MarkaID)</th>
            <th>@Html.DisplayNameFor(model => model.MarkaAdi)</th>
            <th>İşlemler</th>
        </tr>
        @foreach (OtoAksesuarSatisWebAp.Models.Marka item in Model)
        {
            <tr>
                <td>@item.MarkaID</td>
                <td>@item.MarkaAdi</td>
                <td>
                    <a href="@Url.Action("Edit","Marka", new {id = item.MarkaID})" class="editbutton">Düzenle</a>
                    <a href="@Url.Action("Delete","Marka", new {id = item.MarkaID})" class="deletebutton">Sil</a>
                </td>
            </tr>
        }
    </table>
</div>

