@using OtoAksesuarSatisWebAp.Models;
@{
    Yonetici y = new Yonetici();
    if (Session["YoneticiSession"] != null)
    {
        y = Session["YoneticiSession"] as Yonetici;
    }
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h1>Hoşgeldiniz...</h1>
        <a href="#" style="color:gray">@y.YoneticiIsim</a>
        <a href="@Url.Action("LogOut","YoneticiGiris")">Çıkış Yap</a>
        <a href="@Url.Action("Index","HomePanel")">Anasayfa</a>
        <br />
        <br />
    </div>
    <div>
        <label>Kategori İşlemleri</label>
        <a href="@Url.Action("Create","Kategori")">Kategori Ekle</a>
        <a href="@Url.Action("Index","Kategori")">Kategori Listele</a>
        <br />
        <br />
        <label>Marka İşlemleri</label>
        <a href="@Url.Action("Create","Marka")">Marka Ekle</a>
        <a href="@Url.Action("Index","Marka")">Marka Listele</a>
        <br />
        <br />
        <label>Ürün İşlemleri</label>
        <a href="@Url.Action("Create","Urun")">Ürün Ekle</a>
        <a href="@Url.Action("Index","Urun")">Ürün Listele</a>
        <br />
        <br />
        <label>Üye İşlemleri</label>
        <a href="@Url.Action("Index","UyeUpdate")">Aktif Üyeleri Listele</a>
        <a href="@Url.Action("DeleteUye","UyeUpdate")">Silinmiş Üyeleri Listele</a>
        <br />
        <br />
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
