@using OtoAksesuarSatisWebAp.Models;
@{
    Yonetici y = new Yonetici();
    if (Session["YoneticiSession"] != null)
    {
        y = Session["YoneticiSession"] as Yonetici;
    }
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h1>Hoşgeldiniz...</h1>
            <a href="#" style="color:gray">@y.YoneticiIsim</a>
            <a href="@Url.Action("LogOut","YoneticiGiris")">Çıkış Yap</a>
    </div>
    <div>
        <label>Kategori İşlemleri</label>
        <a href="@Url.Action("Index","HomePanel")">Anasayfa</a>
        <a href="@Url.Action("Create","Kategori")">Kategori Ekle</a>
        <a href="@Url.Action("Index","Kategori")">Kategori Listele</a>
        <label>Marka</label>
        <a href="@Url.Action("Index","Brand")">Marka Listele</a>
        <a href="@Url.Action("Create","Brand")">Marka Ekle</a>
        <label>Ürün</label>
        <a href="@Url.Action("Index","Product")">Ürün Listele</a>
        <a href="@Url.Action("Create","Product")">Ürün Ekle</a>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
