@model OtoAksesuarSatisWebAp.Areas.YoneticiPanel.Data.YoneticiLoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Yönetici Giriş</title>
</head>
<body>
    <div class="container">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            if (ViewBag.mesaj != null)
            {
                <div class="validation-summary-errors">
                    @ViewBag.mesaj
                </div>
            }
            @Html.ValidationSummary()
            <div class="row">
                @Html.EditorFor(x => x.Eposta, "", new { htmlAttributes = new { @class = "formTextbox", @placeholder = "Mail Adresiniz" } })
            </div>
            <div class="row">
                @Html.EditorFor(x => x.Sifre, "", new { htmlAttributes = new { @class = "formTextbox", @placeholder = "Şifreniz" } })
            </div>
            <div class="row">
                <input type="submit" value="Giriş Yap" class="loginButton" />
            </div>
        }
    </div>
</body>
</html>
