@model IEnumerable<OtoAksesuarSatisWebAp.Models.Siparis>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/UyePanel/Views/_LayoutPage1.cshtml";
}
@section styles {
    <link href="~/Areas/UyePanel/Assets/CSS/Siparis.css" rel="stylesheet" />
}
<div class="pagetitle">
    <h2>Siparişlerim</h2>
</div>

@if (TempData["mesaj"] != null)
{
    <div class="alert alert-success">
        @TempData["mesaj"]
    </div>
}
@{
    var yorumYapilmisUrunler = ViewBag.YorumYapilmisUrunler as List<int>;
    var yorumYapilabilirSiparisler = Model.Where(s => !yorumYapilmisUrunler.Contains(s.UrunID)).ToList();
}

@if (!yorumYapilabilirSiparisler.Any())
{
    <div class="alert alert-info">
        Yorum yapabileceğiniz aktif sipariş kaydı bulunmamaktadır.
    </div>
}
else
{
    <table class="table">
        <tr>
            <th>Ürün</th>
            <th>Tarih</th>
            <th>Toplam</th>
            <th>İşlem</th>
        </tr>
        @foreach (var item in yorumYapilabilirSiparisler)
        {
            <tr>
                <td>@item.Urun.UrunAdi</td>
                <td>@item.SiparisTarihi.ToShortDateString()</td>
                <td>@item.ToplamFiyat ₺</td>
                <td>
                    <a href="@Url.Action("Create", "Yorum", new { urunId = item.UrunID })">Yorum Yap</a>
                    <a href="@Url.Action("Delete", "Siparis", new { id = item.SiparisID })">Sil</a>
                </td>
            </tr>
        }
    </table>
}