@using OtoAksesuarSatisWebAp.Models;
@{
    Uye u = new Uye();
    if (Session["uye"] != null)
    {
        u = Session["uye"] as Uye;
    }
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Areas/UyePanel/Assets/CSS/UyeLayout.css" rel="stylesheet" />
    @RenderSection("styles", false)
</head>
<body>
    <div class="top-bar">
        <a href="@Url.Action("Index", "AnaSayfa")" class="logo-link">OtoAksesuar.com</a>
        <div class="user-info">
            <span>@u.Isim</span>
            <a href="@Url.Action("UyeLogout", "Uye")">Çıkış Yap</a>
        </div>
    </div>

    <nav>
        <a href="@Url.Action("Profil", "Uye")">Üyelik Bilgilerim</a>
        <a href="~/Favori/Index">Favorilere Git</a>
        <a href="@Url.Action("Index","Siparis")">Siparişlerim</a>
        <a href="@Url.Action("ToplamSiparis","Siparis")">Toplam Sipariş</a>
        <a href="@Url.Action("Index","Yorum")">Yorumlarım</a>
    </nav>
    <div>
        @RenderBody()
    </div>
</body>
</html>
