@model OtoAksesuarSatisWebAp.Models.Kategori
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/YoneticiPanel/Views/Shared/_LayoutPage1.cshtml";
}
@section styles
{
    <link href="~/Areas/YoneticiPanel/Assets/CSS/Kategori.css" rel="stylesheet" />
}
<div class="pagetitle">
    <h2>Kategori Düzenle</h2>
</div>
<div class="formContainer">
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(x => x.KategoriID)
        @Html.HiddenFor(x => x.Silinmis)

        if (ViewBag.mesaj != null)
        {
            <label class="validationmesage">@ViewBag.mesaj</label>
        }
        <div class="row">
            <label>Isim</label>
            @Html.EditorFor(x => x.KategoriAdi, new { htmlAttributes = new { @class = "textbox" } })
            @Html.ValidationMessageFor(x => x.KategoriAdi, "", new { @class = "validationmesage" })
        </div>
        <div class="row">
            <button type="submit" class="formbutton">Güncelle</button>
        </div>
    }
</div>
