@model IEnumerable<OtoAksesuarSatisWebAp.Models.Kategori>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/YoneticiPanel/Views/Shared/_LayoutPage1.cshtml";
}

<div class="pagetitle">
    <h2>Kategoriler</h2>
</div>
<div class="">
    @if (TempData["mesaj"] != null)
    {
        <h3 style="color:forestgreen; margin-bottom:10px;">@TempData["mesaj"]</h3>
        TempData["mesaj"] = null;
    }
    <table class="tablo" cellspacing="0" cellpadding="0">
        <tr>
            <th>@Html.DisplayNameFor(model => model.KategoriID)</th>
            <th>@Html.DisplayNameFor(model => model.KategoriAdi)</th>
            <th>İşlemler</th>
        </tr>
        @foreach (OtoAksesuarSatisWebAp.Models.Kategori item in Model)
        {
            <tr>
                <td>@item.KategoriID</td>
                <td>@item.KategoriAdi</td>
                <td>
                    <a href="@Url.Action("Edit","Kategori", new {id = item.KategoriID})" class="editbutton">Güncelle</a>
                    <a href="@Url.Action("Delete","Kategori", new { id = item.KategoriID})" class="deletebutton">Sil</a>
                </td>
            </tr>
        }
    </table>
</div>
