@model OtoAksesuarSatisWebAp.Models.Urun
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/YoneticiPanel/Views/Shared/_LayoutPage1.cshtml";
}
@section styles
{
    <link href="~/Areas/YoneticiPanel/Assets/CSS/Urun.css" rel="stylesheet" />
}
<div class="pagetitle">
    <h2>Ürün Düzenle</h2>
</div>
<div class="formContainer">
    @using (Html.BeginForm("Edit", "Urun", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(x => x.UrunID)
        @Html.HiddenFor(x => x.ResimYolu)
        @Html.HiddenFor(x => x.Silinmis)
        @Html.HiddenFor(x => x.EklenmeTarihi)

        if (ViewBag.mesaj != null)
        {
            <label class="validationmesage">@ViewBag.mesaj</label>
        }

        <div class="sol">
            <div class="row">
                <label>Isim</label>
                @Html.EditorFor(x => x.UrunAdi, new { htmlAttributes = new { @class = "textbox" } })
                @Html.ValidationMessageFor(x => x.UrunAdi, "", new { @class = "validationmesage" })
            </div>

            <div class="row">
                <label>Kategori Seçiniz</label>
                @Html.DropDownList("KategoriID", (SelectList)ViewBag.Kategori_ID, "Kategori Seçiniz", new { @class = "textbox" })
            </div>

            <div class="row">
                <label>Marka Seçiniz</label>
                @Html.DropDownList("MarkaID", (SelectList)ViewBag.Marka_ID, "Marka Seçiniz", new { @class = "textbox" })
            </div>

            <div class="row">
                <label>Açıklama</label>
                @Html.EditorFor(x => x.Aciklama, new { htmlAttributes = new { @class = "textbox" } })
                @Html.ValidationMessageFor(x => x.Aciklama, "", new { @class = "validationmesage" })
            </div>
        </div>

        <div class="sag">
            <div class="row">
                <label>Stok</label>
                @Html.EditorFor(x => x.StokMiktari, new { htmlAttributes = new { @class = "textbox" } })
                @Html.ValidationMessageFor(x => x.StokMiktari, "", new { @class = "validationmesage" })
            </div>

            <div class="row">
                <label>Fiyat</label>
                @Html.EditorFor(x => x.Fiyat, new { htmlAttributes = new { @class = "textbox" } })
                @Html.ValidationMessageFor(x => x.Fiyat, "", new { @class = "validationmesage" })
            </div>

            <div class="row">
                <div class="productEditImage">
                    <img src="~/Assets/ProductImages/@Model.ResimYolu" style="width:50%" />
                </div>
                <div class="productEditImageFile">
                    <label>Resim</label>
                    <input type="file" name="image" class="textbox" />
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <button type="submit" class="formbutton">Güncelle</button>
        </div>
    
    }
</div>

