@using OtoAksesuarSatisWebAp.Models;
@model IEnumerable<Sepet>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared1/_LayoutPage1.cshtml";

    decimal allTotal = 0;
    string fiyatSeviyesi = "Bronz";
    var yonetici = Session["YoneticiSession"] as Yonetici;
    if (yonetici != null)
    {
        fiyatSeviyesi = yonetici.YoneticiIsim;
    }


    foreach (Sepet item in Model)
    {
        decimal fiyat = 0;

        if (item.XMLUrun != null)
        {
            switch (fiyatSeviyesi.ToLower())
            {
                case "bronz":
                    fiyat = item.XMLUrun.BronzFiyat;
                    break;
                case "silver":
                    fiyat = item.XMLUrun.SilverFiyat;
                    break;
                case "gold":
                    fiyat = item.XMLUrun.GoldFiyat;
                    break;
                default:
                    fiyat = item.XMLUrun.BronzFiyat;
                    break;
            }
        }
        else if (item.Urun != null)
        {
            fiyat = item.Urun.Fiyat;
        }

        decimal fakeprice = fiyat + 500;
        allTotal += item.Adet * fiyat;
    }
}
@section styles {
    <link href="~/Assets/CSS/Sepet.css" rel="stylesheet" />
}
@if (TempData["info"] != null)
{
    <div class="validation-summary-warning">
        @TempData["info"]
        @{
            TempData["info"] = null;
        }
    </div>
}

<div class="pageTitle">
    <h3>Sepetim</h3>
</div>

<table class="tablo" cellpadding="0" cellspacing="0">
    @foreach (Sepet item in Model)
    {
        <tr>
            <td>
                @if (item.XMLUrun != null)
                {
                    <img src="@Url.Content(string.IsNullOrWhiteSpace(item.XMLUrun.Resim) ? "~/Images/resim_yok.jpg" : item.XMLUrun.Resim)" width="56" />
                }
                else if (item.Urun != null)
                {
                    <img src="~/Assets/ProductImages/@item.Urun.ResimYolu" width="56" />
                }
            </td>

            <td>
                @if (item.XMLUrun != null)
                {
                    <a href="@Url.Action("Detail", "xmlUrun", new { id = item.XmlUrunID })" style="text-decoration:none; color:#7e0490; font-size:13pt">@item.XMLUrun.UrunAdi</a>
                }
                else if (item.Urun != null)
                {
                    <a href="@Url.Action("Detail", "DetayUrun", new { id = item.UrunID })" style="text-decoration:none; color:#7e0490; font-size:13pt">@item.Urun.UrunAdi</a>
                }
            </td>

            <td>
                @{
                    decimal fakeprice = 0;
                    decimal productPrice = 0;

                    if (item.XMLUrun != null)
                    {
                        switch (fiyatSeviyesi.ToLower())
                        {
                            case "bronz":
                                productPrice = item.XMLUrun.BronzFiyat;
                                fakeprice = productPrice + 500;
                                break;
                            case "silver":
                                productPrice = item.XMLUrun.SilverFiyat;
                                fakeprice = productPrice + 500;
                                break;
                            case "gold":
                                productPrice = item.XMLUrun.GoldFiyat;
                                fakeprice = productPrice + 500;
                                break;
                            default:
                                productPrice = item.XMLUrun.BronzFiyat;
                                fakeprice = productPrice + 500;
                                break;
                        }
                    }
                    else if (item.Urun != null)
                    {
                        productPrice = item.Urun.Fiyat;
                        fakeprice = productPrice + 500;
                    }
                }
                <label style="text-decoration:line-through">@fakeprice ₺</label>
                <strong style="color: #7e0490">@productPrice ₺</strong>
            </td>

            <td>
                <a href="@Url.Action("Decrease", "Sepet", new { id = item.ID })" class="decreasebutton">-</a>
                <label class="quantity">@item.Adet</label>
                <a href="@Url.Action("Increase", "Sepet", new { id = item.ID })" class="increasebutton">+</a>
            </td>

            <td>
                @{
                    decimal total = 0;

                    if (item.XMLUrun != null)
                    {
                        switch (fiyatSeviyesi.ToLower())
                        {
                            case "bronz":
                                total = item.XMLUrun.BronzFiyat * item.Adet;
                                break;
                            case "silver":
                                total = item.XMLUrun.SilverFiyat * item.Adet;
                                break;
                            case "gold":
                                total = item.XMLUrun.GoldFiyat * item.Adet;
                                break;
                            default:
                                total = item.XMLUrun.BronzFiyat * item.Adet;
                                break;
                        }
                    }
                    else if (item.Urun != null)
                    {
                        total = item.Urun.Fiyat * item.Adet;
                    }
                }
                <strong>@total ₺</strong>
            </td>

            <td>
                <a href="@Url.Action("Remove", "Sepet", new { id = item.ID })" class="deletebutton">X</a>
            </td>
        </tr>
    }

    <tr>
        <td colspan="3" style="border:none"></td>
        <td colspan="3" style="border:none">
            <table width="100%" cellpadding="0" cellspacing="0" class="totalTable">
                <tr class="total">
                    <th>
                        <strong>Toplam </strong>
                    </th>
                    <th align="center">
                        <strong>@allTotal ₺</strong>
                    </th>
                </tr>
                <tr class="last">
                    <td colspan="2" align="center">
                        <br />
                        @if (Model.Any(item => item.XMLUrun != null) && Model.Any(item => item.Urun != null))
                        {
                            <a href="@Url.Action("Payment", "Odeme")" class="gotobuy">Ödemeye Geç (Normal Ürünler)</a>
                            <br />
                            <br />
                            <br />
                            <a href="@Url.Action("PaymentXML", "Odeme")" class="gotobuy">Ödemeye Geç (VIP Ürünler)</a>
                        }
                        else if (Model.Any(item => item.XMLUrun != null))
                        {
                            <a href="@Url.Action("PaymentXML", "Odeme")" class="gotobuy">Ödemeye Geç (VIP Ürünler)</a>
                        }
                        else
                        {
                            <a href="@Url.Action("Payment", "Odeme")" class="gotobuy">Ödemeye Geç (Normal Ürünler)</a>
                        }
                        <br />
                        <br />
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>