@using OtoAksesuarSatisWebAp.Models;
@model IEnumerable<XMLUrun>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared1/_LayoutPage1.cshtml";


    string fiyatSeviyesi = Session["FiyatSeviyesi"]?.ToString() ?? "Bronz";


    var yonetici = Session["YoneticiSession"] as Yonetici;

    if (yonetici != null)
    {

        fiyatSeviyesi = yonetici.YoneticiIsim;
    }
    else
    {

        fiyatSeviyesi = "Bronz";
    }
}
@section styles {
    <link href="~/Assets/CSS/IndexXML.css" rel="stylesheet" />
}
<div class="productList">
    @foreach (var urun in Model)
    {
        decimal fiyat = 0;


        switch (fiyatSeviyesi.ToLower())
        {
            case "bronz":
                fiyat = urun.BronzFiyat;
                break;
            case "silver":
                fiyat = urun.SilverFiyat;
                break;
            case "gold":
                fiyat = urun.GoldFiyat;
                break;
            default:
                fiyat = urun.BronzFiyat;
                break;
        }

        <div class="productContainer">
            <a href="@Url.Action("Detail", "xmlUrun", new { id = urun.XmlUrunID })" style="color:inherit; text-decoration:none;">
                <div class="productImage">
                    <img src="@Url.Content(string.IsNullOrWhiteSpace(urun.Resim) ? "~/Images/resim_yok.jpg" : urun.Resim)" width="100"  />
                </div>
                <div>
                    <h3><strong>@urun.UrunAdi</strong>&nbsp;@urun.Marka</h3>
                    <hr />
                    <div style="padding:10px 0;">
                        @urun.Kategori
                    </div>
                    <div style="padding:10px 0;">
                        @{
                            decimal fakeprice = fiyat + 200;
                        }
                        <label style="text-decoration:line-through">@fakeprice ₺</label>
                        <strong>@fiyat ₺</strong>
                    </div>
                </div>
            </a>
            <div style="padding:5px 0px; text-align:center">

                <a class="addcart" href="@Url.Action("xmlAdd", "Sepet", new { id = urun.XmlUrunID })">Sepete Ekle</a>
                <a href="@Url.Action("AddXml", "Favori", new { id = urun.XmlUrunID })">
                    Favorilere Ekle
                </a>
            </div>
        </div>
    }
</div>

@if (TempData["Mesaj"] != null)
{
    <div class="alert alert-info">
        @TempData["Mesaj"]
    </div>
}