@using OtoAksesuarSatisWebAp.Models;
@{
    Uye u = new Uye();
    if (Session["uye"] != null)
    {
        u = Session["uye"] as Uye;
    }
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> Oto Aksesuar Satış Platformu @ViewBag.Title</title>
    @RenderSection("styles", false)
</head>
<body>
    <div>
        <h3>
            <a href="@Url.Action("Index", "AnaSayfa")" style="text-decoration:none; color:blue;">
                OTO AKSESUAR SATIŞ PLATFORMU
            </a>
        </h3>
        <a href="~/UyePanel/Index" style="color:darkblue">
            @u.Isim
        </a>
        <a href="~/UyePanel/AnaSayfa/Index">Hesabım</a>
        <br />
        <br />
    </div>
    <div>
        @if (Session["uye"] != null)
        {
            <div class="topbarRight">
                <div>
                    <a href="@Url.Action("LogOut","Uye")">Çıkış Yap</a>
                    <a href="@Url.Action("Index","Favori")">Favoriler</a>
                </div>
                <div class="clearfix"></div>
            </div>
        }
        else
        {
            <div class="topbarRight">
                <a href="@Url.Action("Login","Uye")">Hoşgeldiniz, Giriş Yap</a>
                <a href="@Url.Action("Register","Uye")">Üye Ol</a>
            </div>
        }
    </div>
    <div class="categoryBar">
        @Html.Action("_Index", "Menu")
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
