@using OtoAksesuarSatisWebAp.Models;
@{
    Uye u = new Uye();
    if (Session["uye"] != null)
    {
        u = Session["uye"] as Uye;
    }
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h1>Hoşgeldiniz...</h1>
        <a href="#" style="color:gray">@u.Isim</a>
        <br />
        <br />
    </div>
    <div>
        @if (Session["uye"] != null)
        {
            <div class="topbarRight">

                <div>
                    <a href="@Url.Action("LogOut","Uye")">Çıkış Yap</a>
                    <a href="@Url.Action("Index","Favori")">Favoriler</a>
                </div>
                <div class="clearfix"></div>
            </div>
        }
        else
        {
            <div class="topbarRight">
                <a href="@Url.Action("Login","Uye")">Giriş Yap</a>
                <a href="@Url.Action("Register","Uye")">Üye Ol</a>
            </div>
        }
    </div>
    <div class="categoryBar">
        <h4> Kategoriler </h4>
        @Html.Action("_Index", "Menu")
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
