@using OtoAksesuarSatisWebAp.Models;
@{
    Uye u = new Uye();
    if (Session["uye"] != null)
    {
        u = Session["uye"] as Uye;
    }
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> OtoAksesuar.com @ViewBag.Title</title>
    <link href="~/Assets/CSS/AnasayfaLayout.css" rel="stylesheet" />
    @RenderSection("styles", false)
</head>
<body>
    <div>
        <h3>
            <a href="@Url.Action("Index", "AnaSayfa")" class="logo-link">
                OtoAksesuar.com
            </a>
        </h3>
        <a href="#" style="color:hotpink; margin-left: 20px;">
            @u.Isim
        </a>
        @if (Session["uye"] != null)
        {
            <a href="@Url.Action("LogOut","Uye")" class="logout-link">Çıkış Yap</a>
            <a href="@Url.Action("Index","Sepet")">Sepetim (@Html.Action("_GetCartCount", "AnaSayfa")) </a>
        }
        <br />
        <br />
    </div>
    <div>
        @if (Session["uye"] != null)
        {
            <div class="topbarRight">
                <div>
                    <a href="@Url.Action("Index", "xmlUrun")"> VIP Tüm Ürünler</a>
                    <a href="@Url.Action("XmlFavoriler", "Favori")">VIP Ürün Favorilerim</a>
                    <a href="@Url.Action("Index","Favori")">Favoriler</a>
                    <a href="~/UyePanel/AnaSayfa/Index">Hesabım</a>
                </div>
                <div class="clearfix"></div>
            </div>
        }
        else
        {
    <div class="topbarRight">
        <a href="@Url.Action("Login","Uye")">Hoşgeldiniz, Giriş Yap</a>
        <a href="@Url.Action("Register","Uye")">Üye Ol</a>
        <a href="@Url.Action("Index","xmlUrun")">VIP Tüm Ürünler</a>
    </div>
        }
    </div>
    <div class="categoryBar">
        <label>Kategoriler</label>
        @Html.Action("GetCategories", "Kategori") 
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
