@model OtoAksesuarSatisWebAp.Models.Urun
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared1/_LayoutPage1.cshtml";
}
@section styles {
    <link href="~/Assets/CSS/UrunDetay.css" rel="stylesheet" />
}
<div class="detailContainer">
    <div class="image">
        <img src="~/Assets/ProductImages/@Model.ResimYolu" />
    </div>
    <div class="detail">
        <h2>@Model.Marka.MarkaAdi - @Model.UrunAdi</h2>
        <hr />
        <div class="row">
            @Model.Kategori.KategoriAdi @Model.Marka.MarkaAdi
        </div>

        <div class="row priceRow">
            @{ decimal fakeprice = Model.Fiyat + 200; }
            <label style="text-decoration:line-through"> @fakeprice ₺</label>
            <strong style="color: #7e0490"> @Model.Fiyat ₺</strong>
        </div>

        <form action="@Url.Action("DetailAdd", "Sepet", new { id = Model.UrunID })" method="post">
            <label for="quantity">Adet:</label>
            <input type="number" id="quantity" name="quantity" min="1" value="1" />
            <button type="submit" class="btn btn-primary">Sepete Ekle</button>
        </form>
    </div>
    <div style="clear:both"></div>
</div>
<div class="description">
    <h3>Detay</h3>
    <hr />
    <div class="descriptionContainer">
        @Model.Aciklama
    </div>
</div>



